{include file="public/header"}
<form class="layui-form layui-form-pane md-addon-pz10" lay-filter="config">
	<input type="hidden" name="__token__" value="{$Request.token}" />
	<div class="layui-form-item">
		<label class="layui-form-label">{:lang('status')}</label>
		<div class="layui-input-block">
			<input name="status" type="radio" value="0" title="{:lang('disable')}" {if$data.status==0} checked{/if}>
			<input name="status" type="radio" value="1" title="{:lang('enable')}" {if$data.status==1} checked{/if}>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">{:lang('name')}</label>
		<div class="layui-input-block">
			<input name="name" type="text" class="layui-input" value="{$data.name}" placeholder="{:lang('admin/timming/unique_id')}" {if$data.name} readonly{/if}>
		</div>
		<div class="layui-form-mid layui-word-aux">{:lang('admin/timming/call_method')}{$GLOBALS['http_type'].$_SERVER['HTTP_HOST'].$GLOBALS['config']['site']['install_dir']}api.php/timming/index?name=<span>{$data.name}</span></div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">{:lang('remarks')}</label>
		<div class="layui-input-block">
			<input name="des" type="text" class="layui-input" value="{$data.des}" placeholder="">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">{:lang('admin/timming/exec_file')}</label>
		<div class="layui-input-block">
			<select name="file">
				<option value="collect" {if$data.file=='collect'}selected{/if}>{:lang('admin/timming/collect')}</option>
				<option value="make" {if$data.file=='make'}selected{/if}>{:lang('admin/timming/make')}</option>
				<option value="cj" {if$data.file=='cj'}selected{/if}>{:lang('admin/timming/cj')}</option>
				<option value="cache" {if$data.file=='cache'}selected{/if}>{:lang('admin/timming/cache')}</option>
				<option value="urlsend" {if$data.file=='urlsend'}selected{/if}>{:lang('admin/timming/urlsend')}</option>
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">{:lang('admin/timming/attach_param')}</label>
		<div class="layui-input-block">
			<input name="param" type="text" class="layui-input" value="{$data.param}" placeholder="{:lang('admin/timming/attach_param_tip')}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">{:lang('admin/timming/exec_cycle')}</label>
		<div class="layui-input-block role-list-form">
			<input type="checkbox" name="weeks[]" class="layui-checkbox" lay-skin="primary" value="1" title="{:lang('monday')}" {if strpos($data.weeks,'1')!==false}checked{/if}>
			<input type="checkbox" name="weeks[]" class="layui-checkbox" lay-skin="primary" value="2" title="{:lang('tuesday')}" {if strpos($data.weeks,'2')!==false}checked{/if}>
			<input type="checkbox" name="weeks[]" class="layui-checkbox" lay-skin="primary" value="3" title="{:lang('wednesday')}" {if strpos($data.weeks,'3')!==false}checked{/if}>
			<input type="checkbox" name="weeks[]" class="layui-checkbox" lay-skin="primary" value="4" title="{:lang('thursday')}" {if strpos($data.weeks,'4')!==false}checked{/if}>
			<input type="checkbox" name="weeks[]" class="layui-checkbox" lay-skin="primary" value="5" title="{:lang('friday')}" {if strpos($data.weeks,'5')!==false}checked{/if}>
			<input type="checkbox" name="weeks[]" class="layui-checkbox" lay-skin="primary" value="6" title="{:lang('saturday')}" {if strpos($data.weeks,'6')!==false}checked{/if}>
			<input type="checkbox" name="weeks[]" class="layui-checkbox" lay-skin="primary" value="0" title="{:lang('sunday')}" {if strpos($data.weeks,'0')!==false}checked{/if}>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">{:lang('admin/timming/exec_time')}</label>
		<div class="layui-input-block role-list-form">
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="00" title="00" {if strpos($data.hours,'00')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="01" title="01" {if strpos($data.hours,'01')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="02" title="02" {if strpos($data.hours,'02')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="03" title="03" {if strpos($data.hours,'03')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="04" title="04" {if strpos($data.hours,'04')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="05" title="05" {if strpos($data.hours,'05')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="06" title="06" {if strpos($data.hours,'06')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="07" title="07" {if strpos($data.hours,'07')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="08" title="08" {if strpos($data.hours,'08')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="09" title="09" {if strpos($data.hours,'09')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="10" title="10" {if strpos($data.hours,'10')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="11" title="11" {if strpos($data.hours,'11')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="12" title="12" {if strpos($data.hours,'12')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="13" title="13" {if strpos($data.hours,'13')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="14" title="14" {if strpos($data.hours,'14')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="15" title="15" {if strpos($data.hours,'15')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="16" title="16" {if strpos($data.hours,'16')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="17" title="17" {if strpos($data.hours,'17')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="18" title="18" {if strpos($data.hours,'18')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="19" title="19" {if strpos($data.hours,'19')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="20" title="20" {if strpos($data.hours,'20')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="21" title="21" {if strpos($data.hours,'21')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="22" title="22" {if strpos($data.hours,'22')!==false}checked{/if}>
			<input type="checkbox" name="hours[]" class="layui-checkbox" lay-skin="primary" value="23" title="23" {if strpos($data.hours,'23')!==false}checked{/if}>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button lay-submit lay-filter="config" type="submit" class="layui-btn">{:lang('btn_save')}</button>
			<button type="reset" class="layui-btn layui-btn-warm">{:lang('btn_reset')}</button>
		</div>
	</div>
</form>
{include file="public/footer"}
