<script type="text/javascript">
	var magic = {
		'path': '{$mojia.config.path}',
		'addon': '{$mojia.config.addon}',
		'admin': '{$mojia.config.admin}',
		'entry': '{$mojia.config.entry}',
		'base': '{$mojia.config.base}',
	};
</script>
<script src="{$mojia.config.addon}{$mojia.config.base}/layui/layui.js?ver={$mojia.config.ver}" type="text/javascript" charset="utf-8"></script>
<script src="{$mojia.config.addon}{$mojia.config.base}/script/modai.js?ver={$mojia.config.ver}" type="text/javascript" charset="utf-8"></script>
</body>
</html>
