{include file="public/header"}
<div class="layui-tab md-addon-gray md-option-wrap">
	<ul class="layui-tab-title">
		<li class="layui-this">用户信息</li>
		<li>插件设置</li>
	</ul>
	<div class="layui-tab-content">
		<div class="layui-tab-item layui-show">
			<form class="layui-form md-option-wrap">
				<table class="layui-table" style="margin-top:0">
					<colgroup>
						<col width="87">
						<col width="300">
						<col>
					</colgroup>
					<thead>
						<tr>
							<th>名称</th>
							<th>内容</th>
							<th>备注</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>用户名称</td>
							<td><input type="text" class="layui-input" value="{$data.user_name}" readonly></td>
							<td>魔袋用户名</td>
						</tr>
						<tr>
							<td>邮箱账号</td>
							<td><input type="text" class="layui-input" value="{$data.user_email}" readonly></td>
							<td>邮箱账号</td>
						</tr>
						<tr>
							<td>剩余积分</td>
							<td><input type="text" class="layui-input" value="{$data.user_points}" readonly></td>
							<td><a lay-submit lay-filter="index" data-code="points" data-title="积分记录" data-url="{:mac_url('option/points')}" href="javascript:;">查看积分记录</a></td>
						</tr>
						<tr>
							<td>充值积分</td>
							<td><a lay-submit lay-filter="money" class="layui-btn layui-btn-fluid">充值积分</a></td>
							<td>1元={$data.cash_ratio}积分</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<div class="layui-tab-item">
			<form class="layui-form md-option-wrap">
				<table class="layui-table" style="margin-top:0">
					<colgroup>
						<col width="87">
						<col width="300">
						<col>
					</colgroup>
					<thead>
						<tr>
							<th>名称</th>
							<th>内容</th>
							<th>备注</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>后台入口</td>
							<td>
								<select name="modai[base][entry]">
									{maccms:foreach name="$entry"}
									<option value="{$vo}" {if$modai.base.entry==$vo} selected{/if}>{$vo}</option>
									{/maccms:foreach}
								</select>
							</td>
							<td>原admin.php文件</td>
						</tr>
						<tr>
							<td>图片盗链</td>
							<td>
								<select name="modai[base][mask]">
									<option value="0" {if$modai.base.mask==0} selected{/if}>关闭</option>
									<option value="1" {if$modai.base.mask==1} selected{/if}>开启</option>
								</select>
							</td>
							<td>解决图片403问题</td>
						</tr>
					</tbody>
				</table>
				<div class="layui-form-item">
					<a lay-submit lay-filter="option" class="layui-btn">保&nbsp;存</a>
				</div>
			</form>
		</div>
	</div>
</div>
{include file="public/footer"}
