{include file="public/header"}
<div class="md-login-wrap">
	<div class="md-login-main">
		<div class="md-login-boxs">
			<h2>魔袋用户密码找回</h2>
		</div>
		<div class="md-login-boxs layui-form">
			<div class="layui-form-item md-login-item">
				<label class="md-login-icon layui-icon layui-icon-email"></label>
				<input type="email" name="to" lay-verify="email" placeholder="邮箱" class="layui-input md-login-input">
				<input type="hidden" name="ac" value="email">
			</div>
			<div class="layui-form-item md-login-item">
				<div class="layui-row">
					<div class="layui-col-xs7">
						<label class="md-login-icon layui-icon layui-icon-vercode"></label>
						<input type="text" name="code" placeholder="验证码" class="layui-input md-login-input">
					</div>
					<div class="layui-col-xs5">
						<div style="margin-left: 10px;">
							<button type="button" data-url="{:mac_url('user/findpass_msg')}" lay-submit lay-filter="verify" class="layui-btn layui-btn-primary layui-btn-fluid">获取验证码</button>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-form-item md-login-item">
				<label class="md-login-icon layui-icon layui-icon-password"></label>
				<input type="password" name="user_pwd" placeholder="密码" class="layui-input md-login-input">
			</div>
			<div class="layui-form-item md-login-item">
				<label class="md-login-icon layui-icon layui-icon-password"></label>
				<input type="password" name="user_pwd2" placeholder="确认密码" class="layui-input md-login-input">
			</div>
			<div class="layui-form-item">
				<button type="button" data-jump="{:mac_url('index/index')}" lay-submit lay-filter="submit" class="layui-btn layui-btn-fluid">提 交</button>
			</div>
			<div class="layui-form-item">
				<a href="{:mac_url('user/register')}" class="md-login-left">注册账号</a>
				<a href="{:mac_url('user/login')}" class="md-login-right">立即登录</a>
			</div>
		</div>
	</div>
</div>
{include file="public/footer"}
