{include file="public/header"}
<div class="layui-bg-gray md-addon-pz10">
	<blockquote class="layui-elem-quote layui-quote-nm ts-admin-table">
		<p style="color:red">免责声明：此插件无任何内置数据，对用户在使用过程中的信息内容本程序不负任何责任！请知悉！</p>
	</blockquote>
	<div class="layui-row layui-col-space10">
		{maccms:foreach name="$data"}
		<div class="layui-col-md4">
			<div lay-submit lay-filter="index" class="layui-card layui-btn layui-btn-fluid md-addon-card" data-code="{$vo.code}" data-title="{$vo.name}" data-url="{$vo.url}">
				<h2 class="md-addon-name">{$vo.name}</h2>
				<p class="md-addon-text">{$vo.tip}</p>
				{$vo.pro?='<span class="layui-badge md-addon-rtgo">Pro</span>'}
			</div>
		</div>
		{/maccms:foreach}
	</div>
</div>
{include file="public/footer"}
