{include file="public/header"}
<div class="md-page-wrap">
	<div class="layui-btn-group">
		{maccms:foreach name="$data['type']"}
		<a class="md-page-btns layui-btn layui-btn-primary{if$key==$data.this} md-page-this{/if}" href="{$GLOBALS['package']['admin']}/{$data.cont}/{$key}">{$vo.name}</a>
		{/maccms:foreach}
	</div>
</div>
<div class="md-page-wrap">
	<div class="md-page-cont layui-box layui-laypage layui-laypage-default">
		{maccms:foreach name="$data['menu']"}
		<a class="md-page-item{if$vo.href==$data.param.url} md-page-this{/if}" href="{$mojia.config.action}?url={$vo.href}">{$vo.name}</a>
		{/maccms:foreach}
	</div>
</div>
<div class="md-page-wrap">
	{if!$data['info']}
	<div class="md-page-btns layui-text">
		数据获取失败，<a style="color:red;" href="javascript:location.reload();">点我刷新</a>
		<p>若多次刷新无效请等待10分钟后再试</p>
	</div>
	{/if}
</div>
<div class="layui-bg-gray md-addon-pz10">
	<div class="layui-row layui-col-space10">
		{maccms:foreach name="$data['info']"}
		<div class="layui-col-md4">
			<div class="layui-card md-image-wrap md-ratio-4">
				<img class="md-image-back" src="{$vo.image|mao_banner_img}" />
				<span class="md-image-info">{$vo.title}</span>
			</div>
		</div>
		{/maccms:foreach}
	</div>
</div>
{include file="public/footer"}
