{extend name="index/index"}
{block name="body"}
<div class="md-search-wrap layui-row">
	{volist name="$data" id="vo"}
	<div class="layui-col-xs4">
		<a lay-submit lay-filter="write" class="md-search-item layui-show" href="javascript:;" data-controller="{$param.controller}" data-action="{$vo.action}" data-module="{$param.module}" data-type="{$param.type}" data-mid="{$param.module|mac_get_mid}" data-tid="{$param.tid}" data-rid="{$param.rid}" data-name="{$param.name}" data-id="{$vo.id}" data-start="0">
			<div class="md-search-boxs">
				<img class="md-search-pics layui-show" width="100%" height="100%" src="{:mao_url_img($vo.pic,1)}" />
				<span class="md-search-tips layui-show">{$vo.sub}</span>
			</div>
			<span class="md-search-name layui-show layui-elip">{$vo.name}</span>
		</a>
	</div>
	{/volist}
</div>
{/block}
