{include file="public/header"}
<div class="layui-row md-addon-wrap md-search-wrap md-addon-pz10">
	{if!$search}
	<div class="md-addon-erro">
		数据获取失败，<a style="color:red;" href="javascript:location.reload();">点我刷新</a>
	</div>
	{/if}
	{maccms:foreach name="$search"}
	{if$param.controller==$vo.type}
	<div class="layui-col-xs4">
		<a lay-submit lay-filter="write" class="layui-show md-addon-item" href="javascript:;" data-mask="{$mojia.base.mask}" data-controller="{$param.controller}" data-action="{$vo.action}" data-module="{$param.module}" data-type="{$param.type}" data-mid="{$param.module|mac_get_mid}" data-tid="{$param.tid}" data-rid="{$param.rid}" data-name="{$param.name}" data-id="{$vo.id}" data-start="0">
			<div class="amujie-douban-pics">
				<img class="amujie-douban-imgs" width="100%" style="height: 100%;" src="{$vo.img}" />
				<span class="layui-show amujie-douban-desc">{$vo.sub}</span>
			</div>
			<span class="layui-elip layui-show amujie-douban-cent">{$vo.name}</span>
		</a>
	</div>
	{/if}
	{/maccms:foreach}
</div>
{include file="public/footer"}
