{include file="public/header"}
<div class="layui-row md-addon-wrap md-image-wrap">
	{if!$image['cover']}
	<div class="md-addon-erro">
		数据获取失败，<a style="color:red;" href="javascript:location.reload();">点我刷新</a>
	</div>
	{/if}
	<div class="md-page-wrap">
		<div class="md-page-item layui-box layui-laypage layui-laypage-default">
			{maccms:foreach name="$image['total']"}
			<a class="{if$vo==$param.start}md-page-this{/if}" href="{$GLOBALS['package']['admin']}/{:request()->controller()}/{:request()->action()}/id/{$param.id}/start/{$vo}">{$key}</a>
			{/maccms:foreach}
		</div>
	</div>
	{maccms:foreach name="$image['cover']"}
	<div class="layui-col-xs4">
		<a class="layui-show md-addon-item" href="javascript:;" data-mode="{$vo.mode}" data-id="{$vo.id}" data-type="{$param.type}" data-start="0">
			<div class="amujie-douban-pics">
				<img class="amujie-douban-imgs" width="100%" style="height: 100%;" src="{:str_replace(['http://', 'https://'], 'https://i' . array_rand([0, 1, 2, 3]) . '.wp.com/', $vo)}" />
			</div>
		</a>
	</div>
	{/maccms:foreach}
	<div class="md-page-wrap">
		<div class="md-page-item layui-box layui-laypage layui-laypage-default">
			{maccms:foreach name="$image['total']"}
			<a class="{if$vo==$param.start}md-page-this{/if}" href="{$GLOBALS['package']['admin']}/{:request()->controller()}/{:request()->action()}/id/{$param.id}/start/{$vo}">{$key}</a>
			{/maccms:foreach}
		</div>
	</div>
</div>
{include file="public/footer"}
